In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
%cd drive/MyDrive/Colab Notebooks/adult

/content/drive/MyDrive/Colab Notebooks/adult

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
df_train = pd.read_csv('adult.data', index_col = False, sep=',', names = ['age','workclass','fnlwght', 'education', 'education_num','marital_status','occupation','relationship','race','sex','capital-gain','capital-loss','hours-per-week','native-country','income'])

In [ ]:
df_train.head()

,age,workclass,fnlwght,education,education_num,marital_status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [ ]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   fnlwght         32561 non-null  int64
 3   education       32561 non-null  object
 4   education_num   32561 non-null  int64
 5   marital_status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital-gain    32561 non-null  int64
 11  capital-loss    32561 non-null  int64
 12  hours-per-week  32561 non-null  int64
 13  native-country  32561 non-null  object
 14  income          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [ ]:
df_train['occupation'].unique()

array([' Adm-clerical', ' Exec-managerial', ' Handlers-cleaners',
       ' Prof-specialty', ' Other-service', ' Sales', ' Craft-repair',
       ' Transport-moving', ' Farming-fishing', ' Machine-op-inspct',
       ' Tech-support', ' ?', ' Protective-serv', ' Armed-Forces',
       ' Priv-house-serv'], dtype=object)

In [ ]:
df_train[df_train['occupation'] == ' ?']

,age,workclass,fnlwght,education,education_num,marital_status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
27,54,?,180211,Some-college,10,Married-civ-spouse,?,Husband,Asian-Pac-Islander,Male,0,0,60,South,>50K
61,32,?,293936,7th-8th,4,Married-spouse-absent,?,Not-in-family,White,Male,0,0,40,?,<=50K
69,25,?,200681,Some-college,10,Never-married,?,Own-child,White,Male,0,0,40,United-States,<=50K
77,67,?,212759,10th,6,Married-civ-spouse,?,Husband,White,Male,0,0,2,United-States,<=50K
106,17,?,304873,10th,6,Never-married,?,Own-child,White,Female,34095,0,32,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32530,35,?,320084,Bachelors,13,Married-civ-spouse,?,Wife,White,Female,0,0,55,United-States,>50K
32531,30,?,33811,Bachelors,13,Never-married,?,Not-in-family,Asian-Pac-Islander,Female,0,0,99,United-States,<=50K
32539,71,?,287372,Doctorate,16,Married-civ-spouse,?,Husband,White,Male,0,0,10,United-States,>50K
32541,41,?,202822,HS-grad,9,Separated,?,Not-in-family,Black,Female,0,0,32,United-States,<=50K
32542,72,?,129912,HS-grad,9,Married-civ-spouse,?,Husband,White,Male,0,0,25,United-States,<=50K

In [ ]:
sum(df_train['occupation'] == ' ?')

1843

In [ ]:
sum(df_train['workclass'] == ' ?')

1836

In [ ]:
sum(df_train['native-country'] == ' ?')

583

In [ ]:
## remove row with ?
df_new = df_train[df_train['occupation'] != ' ?']
df_new = df_new[df_new['workclass'] != ' ?']
df_new = df_new[df_new['native-country'] != ' ?']

In [ ]:
df_new.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 30162 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             30162 non-null  int64
 1   workclass       30162 non-null  object
 2   fnlwght         30162 non-null  int64
 3   education       30162 non-null  object
 4   education_num   30162 non-null  int64
 5   marital_status  30162 non-null  object
 6   occupation      30162 non-null  object
 7   relationship    30162 non-null  object
 8   race            30162 non-null  object
 9   sex             30162 non-null  object
 10  capital-gain    30162 non-null  int64
 11  capital-loss    30162 non-null  int64
 12  hours-per-week  30162 non-null  int64
 13  native-country  30162 non-null  object
 14  income          30162 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [ ]:
# remove fnlweight
df_new = df_new.drop(['fnlwght'],axis=1)

In [ ]:
df_new

,age,workclass,education,education_num,marital_status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [ ]:
# convert categorical sex column to numerical
df_new['sex'].replace(' Male', 0, inplace=True)
df_new['sex'].replace(' Female', 1, inplace=True)
# df_new = df_new['sex'].replace(' Female', 1)

In [ ]:
df_new

,age,workclass,education,education_num,marital_status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,0,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,0,0,0,13,United-States,<=50K
2,38,Private,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,0,0,0,40,United-States,<=50K
3,53,Private,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,0,0,0,40,United-States,<=50K
4,28,Private,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,1,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,1,0,0,38,United-States,<=50K
32557,40,Private,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,0,0,0,40,United-States,>50K
32558,58,Private,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,1,0,0,40,United-States,<=50K
32559,22,Private,HS-grad,9,Never-married,Adm-clerical,Own-child,White,0,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,1,15024,0,40,United-States,>50K

In [ ]:
df_new['race'].unique()

array([' White', ' Black', ' Asian-Pac-Islander', ' Amer-Indian-Eskimo',
       ' Other'], dtype=object)

In [ ]:
from sklearn.preprocessing import LabelEncoder

# convert income to 0,1 (0: <=50K, 1: >=50K)
le = LabelEncoder()
le.fit(df_new['income'])
df_new['income'] = le.transform(df_new['income'])

In [ ]:
df_new

,age,workclass,education,education_num,marital_status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,0,2174,0,40,United-States,0
1,50,Self-emp-not-inc,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,0,0,0,13,United-States,0
2,38,Private,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,0,0,0,40,United-States,0
3,53,Private,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,0,0,0,40,United-States,0
4,28,Private,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,1,0,0,40,Cuba,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,1,0,0,38,United-States,0
32557,40,Private,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,0,0,0,40,United-States,1
32558,58,Private,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,1,0,0,40,United-States,0
32559,22,Private,HS-grad,9,Never-married,Adm-clerical,Own-child,White,0,0,0,20,United-States,0
32560,52,Self-emp-inc,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,1,15024,0,40,United-States,1

In [ ]:
df_new.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 30162 entries, 0 to 32560
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             30162 non-null  int64
 1   workclass       30162 non-null  object
 2   education       30162 non-null  object
 3   education_num   30162 non-null  int64
 4   marital_status  30162 non-null  object
 5   occupation      30162 non-null  object
 6   relationship    30162 non-null  object
 7   race            30162 non-null  object
 8   sex             30162 non-null  int64
 9   capital-gain    30162 non-null  int64
 10  capital-loss    30162 non-null  int64
 11  hours-per-week  30162 non-null  int64
 12  native-country  30162 non-null  object
 13  income          30162 non-null  int64
dtypes: int64(7), object(7)
memory usage: 3.5+ MB

In [ ]:
# create dummy values for other categorical column
df_dummy = pd.get_dummies(df_new, drop_first=True)

In [ ]:
df_dummy.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 30162 entries, 0 to 32560
Data columns (total 96 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   age                                         30162 non-null  int64
 1   education_num                               30162 non-null  int64
 2   sex                                         30162 non-null  int64
 3   capital-gain                                30162 non-null  int64
 4   capital-loss                                30162 non-null  int64
 5   hours-per-week                              30162 non-null  int64
 6   income                                      30162 non-null  int64
 7   workclass_ Local-gov                        30162 non-null  uint8
 8   workclass_ Private                          30162 non-null  uint8
 9   workclass_ Self-emp-inc                     30162 non-null  uint8
 10  workclass_ Self-emp-not-inc                 30162 non-null  uint8
 11  workclass_ State-gov                        30162 non-null  uint8
 12  workclass_ Without-pay                      30162 non-null  uint8
 13  education_ 11th                             30162 non-null  uint8
 14  education_ 12th                             30162 non-null  uint8
 15  education_ 1st-4th                          30162 non-null  uint8
 16  education_ 5th-6th                          30162 non-null  uint8
 17  education_ 7th-8th                          30162 non-null  uint8
 18  education_ 9th                              30162 non-null  uint8
 19  education_ Assoc-acdm                       30162 non-null  uint8
 20  education_ Assoc-voc                        30162 non-null  uint8
 21  education_ Bachelors                        30162 non-null  uint8
 22  education_ Doctorate                        30162 non-null  uint8
 23  education_ HS-grad                          30162 non-null  uint8
 24  education_ Masters                          30162 non-null  uint8
 25  education_ Preschool                        30162 non-null  uint8
 26  education_ Prof-school                      30162 non-null  uint8
 27  education_ Some-college                     30162 non-null  uint8
 28  marital_status_ Married-AF-spouse           30162 non-null  uint8
 29  marital_status_ Married-civ-spouse          30162 non-null  uint8
 30  marital_status_ Married-spouse-absent       30162 non-null  uint8
 31  marital_status_ Never-married               30162 non-null  uint8
 32  marital_status_ Separated                   30162 non-null  uint8
 33  marital_status_ Widowed                     30162 non-null  uint8
 34  occupation_ Armed-Forces                    30162 non-null  uint8
 35  occupation_ Craft-repair                    30162 non-null  uint8
 36  occupation_ Exec-managerial                 30162 non-null  uint8
 37  occupation_ Farming-fishing                 30162 non-null  uint8
 38  occupation_ Handlers-cleaners               30162 non-null  uint8
 39  occupation_ Machine-op-inspct               30162 non-null  uint8
 40  occupation_ Other-service                   30162 non-null  uint8
 41  occupation_ Priv-house-serv                 30162 non-null  uint8
 42  occupation_ Prof-specialty                  30162 non-null  uint8
 43  occupation_ Protective-serv                 30162 non-null  uint8
 44  occupation_ Sales                           30162 non-null  uint8
 45  occupation_ Tech-support                    30162 non-null  uint8
 46  occupation_ Transport-moving                30162 non-null  uint8
 47  relationship_ Not-in-family                 30162 non-null  uint8
 48  relationship_ Other-relative                30162 non-null  uint8
 49  relationship_ Own-child                     30162 non-null  uint8
 50  relationship_ Unmarried                     30162 non-null  uint8
 51  relationship_ Wife                          30162 non-null  uint8
 52  race_ Asian-Pac-Islander                    30162 non-null  uint8
 53  race_ Black                                 30162 non-null  uint8
 54  race_ Other                                 30162 non-null  uint8
 55  race_ White                                 30162 non-null  uint8
 56  native-country_ Canada                      30162 non-null  uint8
 57  native-country_ China                       30162 non-null  uint8
 58  native-country_ Columbia                    30162 non-null  uint8
 59  native-country_ Cuba                        30162 non-null  uint8
 60  native-country_ Dominican-Republic          30162 non-null  uint8
 61  native-country_ Ecuador                     30162 non-null  uint8
 62  native-country_ El-Salvador                 30162 non-null  uint8
 63  native-country_ England                     30162 non-null  uint8
 64  native-country_ France                      30162 non-null  uint8
 65  native-country_ Germany                     30162 non-null  uint8
 66  native-country_ Greece                      30162 non-null  uint8
 67  native-country_ Guatemala                   30162 non-null  uint8
 68  native-country_ Haiti                       30162 non-null  uint8
 69  native-country_ Holand-Netherlands          30162 non-null  uint8
 70  native-country_ Honduras                    30162 non-null  uint8
 71  native-country_ Hong                        30162 non-null  uint8
 72  native-country_ Hungary                     30162 non-null  uint8
 73  native-country_ India                       30162 non-null  uint8
 74  native-country_ Iran                        30162 non-null  uint8
 75  native-country_ Ireland                     30162 non-null  uint8
 76  native-country_ Italy                       30162 non-null  uint8
 77  native-country_ Jamaica                     30162 non-null  uint8
 78  native-country_ Japan                       30162 non-null  uint8
 79  native-country_ Laos                        30162 non-null  uint8
 80  native-country_ Mexico                      30162 non-null  uint8
 81  native-country_ Nicaragua                   30162 non-null  uint8
 82  native-country_ Outlying-US(Guam-USVI-etc)  30162 non-null  uint8
 83  native-country_ Peru                        30162 non-null  uint8
 84  native-country_ Philippines                 30162 non-null  uint8
 85  native-country_ Poland                      30162 non-null  uint8
 86  native-country_ Portugal                    30162 non-null  uint8
 87  native-country_ Puerto-Rico                 30162 non-null  uint8
 88  native-country_ Scotland                    30162 non-null  uint8
 89  native-country_ South                       30162 non-null  uint8
 90  native-country_ Taiwan                      30162 non-null  uint8
 91  native-country_ Thailand                    30162 non-null  uint8
 92  native-country_ Trinadad&Tobago             30162 non-null  uint8
 93  native-country_ United-States               30162 non-null  uint8
 94  native-country_ Vietnam                     30162 non-null  uint8
 95  native-country_ Yugoslavia                  30162 non-null  uint8
dtypes: int64(7), uint8(89)
memory usage: 4.4 MB

In [ ]:
X = df_dummy.drop(['income'],axis=1)
y = df_dummy['income']

In [ ]:
from sklearn.model_selection import train_test_split, cross_val_score

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 101)

In [ ]:
# 1st method: Decision tree
from sklearn.tree import DecisionTreeClassifier

# use cross-validation to get the accuracy
dt = DecisionTreeClassifier()
cv = cross_val_score(dt, X_train, y_train, cv=5)
cv.mean(), cv.std()

(0.8126734677663519, 0.003174366996683013)

In [ ]:
from sklearn.metrics import confusion_matrix, classification_report
dt.fit(X_train, y_train)
y_pred = dt.predict(X_test)
print(confusion_matrix(y_test, y_pred))
print(classification_report(y_test, y_pred))

[[3935  541]
 [ 613  944]]
              precision    recall  f1-score   support

           0       0.87      0.88      0.87      4476
           1       0.64      0.61      0.62      1557

    accuracy                           0.81      6033
   macro avg       0.75      0.74      0.75      6033
weighted avg       0.81      0.81      0.81      6033

In [ ]:
X = df_dummy.drop(['income'],axis=1)
y = df_dummy['income']

In [ ]:
# Feature selection: remove some unwanted columns using pearson correlation
import seaborn as sns
cor = df_dummy.corr()

In [ ]:
#Correlation with output variable (income)
cor_target = abs(cor["income"])
#Selecting highly correlated features
# cor_target[cor_target>0.1]
relevant_features = cor_target[cor_target>0.1]

In [ ]:
relevant_features = relevant_features.index.to_list()

In [ ]:
len(relevant_features)

23

In [ ]:
df_feature_selected = df_dummy[relevant_features]

In [ ]:
X_new = df_feature_selected.drop(['income'], axis=1)
y_new = df_feature_selected['income']

In [ ]:
X_train_new, X_test_new, y_train_new, y_test_new = train_test_split(X_new, y_new, test_size = 0.2, random_state = 101)

In [ ]:
cv = cross_val_score(dt, X_new, y_new, cv=5)
cv.mean(), cv.std()

(0.8174858184934234, 0.006502149876168235)

In [ ]:
dt.fit(X_train_new, y_train_new)
y_pred = dt.predict(X_test_new)
print(classification_report(y_test_new, y_pred))

              precision    recall  f1-score   support

           0       0.86      0.91      0.88      4476
           1       0.68      0.58      0.63      1557

    accuracy                           0.82      6033
   macro avg       0.77      0.74      0.76      6033
weighted avg       0.82      0.82      0.82      6033

In [ ]:
# hyperparameter-tuning 
# before feature selection
from sklearn.model_selection import GridSearchCV

parameters = {'criterion':['gini','entropy'],
              'min_samples_split': [4,5,10],
              'max_depth':[3,6,9]}

dt = DecisionTreeClassifier()
gridcv = GridSearchCV(dt, parameters)
gridcv.fit(X_train, y_train)

GridSearchCV(estimator=DecisionTreeClassifier(),
             param_grid={'criterion': ['gini', 'entropy'],
                         'max_depth': [3, 6, 9],
                         'min_samples_split': [4, 5, 10]})

In [ ]:
gridcv.best_params_

{'criterion': 'entropy', 'max_depth': 9, 'min_samples_split': 5}

In [ ]:
y_pred = gridcv.predict(X_test)
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.86      0.96      0.90      4476
           1       0.82      0.54      0.65      1557

    accuracy                           0.85      6033
   macro avg       0.84      0.75      0.78      6033
weighted avg       0.85      0.85      0.84      6033

In [ ]:
# gridcv after feature selection
parameters = {'criterion':['gini','entropy'],
              'min_samples_split': [4,5,10],
              'max_depth':[3,6,9]}

dt = DecisionTreeClassifier()
gridcv = GridSearchCV(dt, parameters)
gridcv.fit(X_train_new, y_train_new)

print(gridcv.best_params_)

y_pred = gridcv.predict(X_test_new)
print(classification_report(y_test_new, y_pred))

{'criterion': 'gini', 'max_depth': 9, 'min_samples_split': 5}
              precision    recall  f1-score   support

           0       0.87      0.95      0.91      4476
           1       0.80      0.58      0.67      1557

    accuracy                           0.85      6033
   macro avg       0.83      0.76      0.79      6033
weighted avg       0.85      0.85      0.85      6033

before feature selection, accuracy = 81.27% <br>
try feature selection <br>
94 feaures -> 22 features <br>
after feature selection, accuracy = 81.72% <br>
therefore, no significant changes <br>
<br>
try hyperparameter-tuning using GridSearchCV to find the best parameters (criterion, min_samples_split, max_depth) of decision tree
<br>
best params: {'criterion': 'gini', 'max_depth': 9, 'min_samples_split': 4}
<br>
accuracy after hyperparameter-tuning: 85%

In [ ]:
# 2nd method: SVM
from sklearn.svm import SVC

# original dataset
svc = SVC()
svc.fit(X_train, y_train)

y_pred = svc.predict(X_test)

In [ ]:
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.79      0.97      0.87      4476
           1       0.74      0.27      0.39      1557

    accuracy                           0.79      6033
   macro avg       0.77      0.62      0.63      6033
weighted avg       0.78      0.79      0.75      6033

In [ ]:
# original dataset cross validation
svc = SVC()
cv = cross_val_score(svc, X, y, cv=5)
cv.mean(), cv.std()

(0.7960015779701474, 0.0021206491281095946)

In [ ]:
# feature selected dataset
svc = SVC()
svc.fit(X_train_new, y_train_new)

y_pred = svc.predict(X_test_new)
print(classification_report(y_test_new, y_pred))

              precision    recall  f1-score   support

           0       0.79      0.97      0.87      4476
           1       0.74      0.27      0.39      1557

    accuracy                           0.79      6033
   macro avg       0.77      0.62      0.63      6033
weighted avg       0.78      0.79      0.75      6033

In [ ]:
# feature selected dataset cross validation
svc = SVC()
cv = cross_val_score(svc, X_new, y_new, cv=5)
cv.mean(), cv.std()

(0.7960015779701474, 0.0021206491281095946)

SVM <br>
before feature selection accuracy: 79%
<br>
after feature selection accuracy: 79%
<br>
no significant changes
<br>

In [ ]:
# hyperparameter-tuning
# before feature selection

svc = SVC()
parameters = {'C':[1.0, 5.0],
              'kernel':['rbf','poly']}

gridcv = GridSearchCV(svc, parameters)

gridcv.fit(X_train, y_train)

print(gridcv.best_params_)

y_pred = gridcv.predict(X_test)
print(classification_report(y_test, y_pred))

{'C': 5.0, 'kernel': 'rbf'}
              precision    recall  f1-score   support

           0       0.79      0.97      0.87      4476
           1       0.75      0.27      0.39      1557

    accuracy                           0.79      6033
   macro avg       0.77      0.62      0.63      6033
weighted avg       0.78      0.79      0.75      6033